body { 
    min-height: 100vh; 
    background-color: #000000;
}

#main {
    height: 100vh;
    width: 100%;
}

#gameBox {
    display: flex;
    gap: 25%;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: #ffffff;
}

.gameCircle {
   
    height: 125px;
    width: 125px;
    font-size: 100px;
   
}

.gameCircle:hover {
    height: 150px;
    width: 150px;    
    font-size: 125px;
}



.greeting {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
    font-size: 48px;
    font-family: 'Caveat', cursive;
    color:#000000;
}


#scoreBox {
    display: flex;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

#computerScore, #playerScore {
    height: 20vh;
    width: 50%;
}

/*  animation  */

.fade-in-out {
    opacity: 0;
    animation: fade-in 4s ease-in forwards, fade-out 4.5s 1s ease-out forwards;
    animation-iteration-count: 3;
}


@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}